// Variabili

// COLORI

    // Color cube
    $sugarCane: #fefffe;
    $butterflyBush: #554e9e;
    $mineShaft: #262626;
    $blazeOrange: #fe6601;
    $cameo: #d7ac95;
    $crimson: #d71938;
    $sushi: #84b443;
    $limeade: #36ad02;
    $schoolBusYellow: #fcd902;
    $curiousBlue: #1bafe4;

    // Median cut
    $bonJour: #e8e6e7;
    $eastBay: #444275;
    $mojo: #c34937;
    $twine: #c29458;
    $vidaLoca: #47be27;

    //Material design
    $victoria: #4c4a9b;
    $eunry: #cd9f90;
    $lima: #47bd23;
    $tuatara: #242423;
    $cashmere: #e2bea5;

// FONTS 

    // FONTS FAMILY

    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

    $titleFont: "Lato", sans-serif;

    @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

    $specialFont: "Handlee", sans-serif;

    // FONTS SIZES

    $font-min: 12px;
    $font-xxs: 14px;
    $font-xs: 16px;
    $font-s: 18px;
    $font-sm: 24px;
    $font-m: 30px;
    $font-ml: 33px;
    $font-l: 38px;
    $font-xl: 47px;
    $font-xxl: 50px;

    
