// Variabili

// COLORI

$primary: #FE6500;
$lightPrimary: #ff8e43;
$secondary: #56509F;
$lightgray: #A0A0A0;
$gray: #707070;
$white: #ffff;

// FONTS 

    // FONTS FAMILY

    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

    $titleFont: "Lato", sans-serif;

    @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

    $specialFont: "Handlee", sans-serif;

    // FONTS SIZES

    $font-min: 12px;
    $font-xxs: 14px;
    $font-xs: 16px;
    $font-s: 18px;
    $font-sm: 24px;
    $font-m: 30px;
    $font-ml: 33px;
    $font-l: 38px;
    $font-xl: 47px;
    $font-xxl: 50px;

    
